[Desktop Entry]
Name=Work!
Name[ru]=Work!
Name[en_US]=Work!
Name[en_GB]=Work!
Name[x-test]=xxWork!xx

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=WTFPL

